extends ./layouts/index

block slider 
    .slider 
        h1 Rio de Janerio 
        em aventura

block contenido 
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row
            .col-md-6 
                p Somos una agencia de viajes apasionada por hacer realidad tus sueños. Con años de experiencia, ofrecemos experiencias de viaje excepcionales y personalizadas. Confía en nosotros para convertir tus sueños de viaje en recuerdos inolvidables.
                p En nuestra agencia de viajes, nos apasiona explorar los rincones más fascinantes del planeta y compartir esas maravillas con nuestros clientes. Trabajamos arduamente para seleccionar los destinos más cautivadores, los alojamientos más encantadores y las actividades más emocionantes, todo con el objetivo de brindarte una experiencia de viaje inigualable.
            .col-md-6 
                img(src="./img/inicio_nosotros.jpg" alt="imagen nosotros" class="img-fluid")

        include ./layouts/bloque_viajes

    .descuento 
        .container  
            .row    
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2023 - 28 de Marzo de 2023
                        p.precio $ 2.500 USD


    .container 
        h2.mt-5.text-center Testimonales
        include ./layouts/bloque_testimoniales
        